body {
  margin: 0;
  font-family: Arial;
  background: #f4f7fb;
}

header {
  background: #0a2a43;
  color: white;
  padding: 20px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 30px;
  flex-wrap: wrap;
}

.panel, .map-box {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

input, select, button {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
}

button {
  background: #0f766e;
  color: white;
  border: none;
}

#map {
  height: 250px;
  margin-top: 10px;
}

footer {
  background: #111;
  color: #aaa;
  text-align: center;
  padding: 10px;
}
